body {
    background-color: #323232;
    padding: 40px;
    display: grid;
    gap: 40px;
}

main {
    display: grid;

    gap: 40px;

    padding: 40px;

    width: 100dvw;

    height: 100dvh;

    overflow: scroll;
    grid-auto-columns: calc(100dvw - 80px);

    grid-template-rows: calc(100dvh - 80px);
    scroll-snap-type: y mandatory;
}

.page {
    padding: 120px;
    border-radius: 80px;
    height: calc(100vh - 80px);
    gap: 60px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 100%;
    grid-template-columns: 2fr 3fr;
    scroll-snap-type: x mandatory;
}
.premiere {
    background-color: #c6c8ae;
}
.deuxieme {
    background-color: red;
}
.troisieme {
    background-color: #050505;
}
.quatrieme {
    background-color: #7c4319;
}
.cinq {
    background-color: #311d0f;
}
.six {
    background-color: #17191e;
}

.content2 {
    color: bisque;
}

img {
    border-radius: 40px;
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 100%;
}
.content {
    color: #323232;
}
h1 {
    font-size: 50px;
    font-family: "Syne", sans-serif;
    margin-bottom: 30px;
    font-weight: 700;
}
p {
    font-size: 30px;
    font-family: "Syne", sans-serif;
    font-weight: 400;
}

@media (max-width: 1024px) {
    .premiere,
    .deuxieme,
    .troisieme,
    .quatrieme,
    .cinq,
    .six {
        padding: 20px 20px 20px 31px;
        border-radius: 40px;
    }
    .wrapper {
        gap: 27px;
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
    h1 {
        font-size: 20px;
    }
    p {
        font-size: 20px;
    }
}
@media (max-width: 1024px) and (orientation: portrait) {
    .page {
        padding: 20px;
        border-radius: 40px;
        grid-template-columns: 1fr;
        gap: 27px;
    }
    .content,
    .content2 {
        display: none;
    }
    img {
        border-radius: 20px;
    }
}
